In [1]:
! pip install pyspark

Requirement already satisfied: pyspark in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pyspark) (0.10.9.7)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import pyspark

Let's try to read file using Pandas

In [3]:
import pandas as pd
pd.read_csv('test1.csv')

     Name  Age
0   Tarif   22
1  Salman   37
2   Sayan   50

**1- At First Import SparkSession**

In [4]:
from pyspark.sql import SparkSession

**2- Create a Spark Session**

In [5]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

24/12/16 11:23:02 WARN Utils: Your hostname, Mds-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.5 instead (on interface en0)
24/12/16 11:23:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/16 11:23:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Check if Spark is running

In [6]:
print("Spark Session created successfully!")

Spark Session created successfully!

In [7]:
spark

**Let's try to read file using Spark**

In [8]:
df_pyspark = spark.read.csv('test1.csv')

In [9]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
| Tarif| 22|
|Salman| 37|
| Sayan| 50|
+------+---+

**But I want to see the first row as header**

In [10]:
spark.read.option('header','true').csv('test1.csv').show()

+------+---+
|  Name|Age|
+------+---+
| Tarif| 22|
|Salman| 37|
| Sayan| 50|
+------+---+

**Let's see the type & DataFrame**

In [11]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

**Let's print Schema**

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)