**At First Import SparkSession**

In [1]:
from pyspark.sql import SparkSession

**Create a Spark Session**

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

24/12/16 17:49:46 WARN Utils: Your hostname, Mds-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.5 instead (on interface en0)
24/12/16 17:49:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/16 17:49:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

don't worry, this error will not harm youðŸ˜‚

In [3]:
spark

**1. Reading The Dataset**

In [4]:
spark.read.option('header','true').csv('test1.csv').show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Tarif| 22|         2|
|Krish| 50|        12|
|  Sam| 37|         8|
+-----+---+----------+

In [5]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

**2. Checking the Datatypes of the Column (Schema)**

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

But,
Name should be String || Age should be Int || Experience should be Int

In [7]:
df_pyspark = spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

**3. Selecting Columns And Indexing**

How to see all columns

In [9]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [10]:
df_pyspark.head(2)

[Row(Name='Tarif', Age=22, Experience=2),
 Row(Name='Krish', Age=50, Experience=12)]

How do I select a Full column

In [12]:
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
|Tarif|
|Krish|
|  Sam|
+-----+

How do I select more than one Full column

In [13]:
df_pyspark.select(['Name','Age']).show()

+-----+---+
| Name|Age|
+-----+---+
|Tarif| 22|
|Krish| 50|
|  Sam| 37|
+-----+---+

In [14]:
df_pyspark['Name']

Column<'Name'>

In [15]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

**4. Check Describe option similar to Pandas**

In [16]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [17]:
df_pyspark.describe().show()

+-------+-----+------------------+-----------------+
|summary| Name|               Age|       Experience|
+-------+-----+------------------+-----------------+
|  count|    3|                 3|                3|
|   mean| NULL|36.333333333333336|7.333333333333333|
| stddev| NULL|14.011899704655802|5.033222956847166|
|    min|Krish|                22|                2|
|    max|Tarif|                50|               12|
+-------+-----+------------------+-----------------+

**5. Adding Columns**

In [19]:
df_pyspark = df_pyspark.withColumn('Experience after 2 Years',df_pyspark['Experience']+2)

In [21]:
df_pyspark.show()

+-----+---+----------+------------------------+
| Name|Age|Experience|Experience after 2 Years|
+-----+---+----------+------------------------+
|Tarif| 22|         2|                       4|
|Krish| 50|        12|                      14|
|  Sam| 37|         8|                      10|
+-----+---+----------+------------------------+

**6. Dropping columns**

In [24]:
df_pyspark = df_pyspark.drop('Experience after 2 Years')

In [25]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Tarif| 22|         2|
|Krish| 50|        12|
|  Sam| 37|         8|
+-----+---+----------+

**7. Rename the column**

In [26]:
df_pyspark = df_pyspark.withColumnRenamed('Name','New Name')

In [27]:
df_pyspark.show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|   Tarif| 22|         2|
|   Krish| 50|        12|
|     Sam| 37|         8|
+--------+---+----------+