In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

24/12/18 09:38:13 WARN Utils: Your hostname, Mds-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.5 instead (on interface en0)
24/12/18 09:38:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/18 09:38:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/12/18 09:38:27 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [3]:
df_pyspark = spark.read.csv('filter_file1.csv',header=True,inferSchema=True)

In [4]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Tarif| 22|         2| 90000|
| Krish| 50|        12| 70000|
|   Sam| 37|         8| 35000|
|  Ramu| 45|         1| 22500|
|Mukesh| 70|        22|110000|
| Pinki| 18|         2|  5000|
+------+---+----------+------+

### 1- Filter Operation

Salary of people less than or equal to 50000

In [6]:
df_pyspark.filter("Salary<=50000").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|  Sam| 37|         8| 35000|
| Ramu| 45|         1| 22500|
|Pinki| 18|         2|  5000|
+-----+---+----------+------+

we can slso pick up only 2 columns

In [8]:
df_pyspark.filter("Salary<=50000").select(['Name','Age']).show()

+-----+---+
| Name|Age|
+-----+---+
|  Sam| 37|
| Ramu| 45|
|Pinki| 18|
+-----+---+

### 2- AND OR EQUAL ( &, |, == )

We can get the same filter by this also

In [10]:
df_pyspark.filter(df_pyspark['Salary']<=50000).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|  Sam| 37|         8| 35000|
| Ramu| 45|         1| 22500|
|Pinki| 18|         2|  5000|
+-----+---+----------+------+

Let's use **AND**

In [13]:
df_pyspark.filter((df_pyspark['Salary']<=50000) & 
                  (df_pyspark['Salary']>5000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Sam| 37|         8| 35000|
|Ramu| 45|         1| 22500|
+----+---+----------+------+

Let's use **OR**

In [14]:
df_pyspark.filter((df_pyspark['Salary']<=50000) |
                  (df_pyspark['Salary']>5000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Tarif| 22|         2| 90000|
| Krish| 50|        12| 70000|
|   Sam| 37|         8| 35000|
|  Ramu| 45|         1| 22500|
|Mukesh| 70|        22|110000|
| Pinki| 18|         2|  5000|
+------+---+----------+------+

### 3- Not ( ~ )

In [15]:
df_pyspark.filter(~(df_pyspark['Salary']<=50000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Tarif| 22|         2| 90000|
| Krish| 50|        12| 70000|
|Mukesh| 70|        22|110000|
+------+---+----------+------+